
.background{


    background-color: aliceblue;
}






.whatpepolsay{

    margin-left: 37%;
}


.im0{

margin-left: 60px;
margin-top: -700px;

}


.im10{

margin-left: 1170px;
margin-top: -500px;

}



/*                  ********************                 */

.backbutton{
    border: 2px;
    border-radius: 15px;
    background-color: white;
}


.manpic{
    margin-right: 550px;
    margin-top: 40px;
}


.clas{
    margin-left: 300px;
    margin-top: -390px;
}







.backbutton3{


background-color: white;
border: 5px;
border-radius: 15px;
margin-left: 80%;
margin-top: -1000px;

}


/*  *************************** */



.idet{

border: 5px;
border-radius: 15px;

background-color: white;
width: 750px;
margin-left: 50px;


}